[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openai = "*"
beautifulsoup4 = "*"
streamlit = "*"
anthropic = "*"
story-weaver = {file = ".", editable = true}
numpy = "*"
ipywidgets = "*"
tiktoken = "*"
python-dotenv = "*"
supabase = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
